@page "/books/{Id:int}"
@page "/books/{Id:int}/{BookName}"
@inject IRepository repository
@inject NavigationManager navigateManager
@inject IShowMessages showMessages
@inject AuthenticationStateProvider AuthenticationStateProvider


@if (model == null)
{
    <p>Cargando..</p>
}
else
{
    <MudPaper Outlined="true" >
        <div class="flex-column flex-grow-1">
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div>
                <MudImage Src="@model.Book.Cover" Width="230" Style="margin-top:10px; margin-bottom:5px; margin-left:10px; margin-right:5px;" />
                <Rating OnVote="OnVote" ScoreSelected="@model.UserVote" />
            </div>
            
        </div>
         <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
        <div class="row-cols-4 row-">
                <text>Hi</text>
                <text>Hola</text>
                <text>Hello</text>
            </div>
            </div>
        </div>
        
        

    </MudPaper>
    <div class="col-md-6">
        <br/>
        <AuthorizeView Roles="admin">
            <Authorized>
                <a href="/chapter/create" class="btn btn-success">Agregar Capitulo</a>
            </Authorized>
        </AuthorizeView>
        <br/>
        <MudList Clickable="true">
            @foreach (var item in model.Chapters)
            {
                <MudListItem Text="@item.Title">
                    <NestedList>
                        <MudLink Href="@($"chapters/viewer/{item.Id}")" Underline="Underline.None">
                            <MudListItem Text="@item.Title" />
                        </MudLink>
                    </NestedList>
                </MudListItem>
            }
         </MudList>
    </div>
}

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public string BookName { get; set; }
    private VisualiseBookDTO model;
    private int selectedVal = 0;

    private async Task OnVote(int voteSelected)
    {
        model.UserVote = voteSelected;
        var voteBook = new Votes() { Vote = voteSelected, BookId = Id };
        var responseHttp = await repository.Post("api/votes", voteBook);
        if (responseHttp.Error)
        {
            showMessages.ShowWarningMessage("No se ha procesado su voto");
        }
        else
        {
            showMessages.ShowSuccessMessage("Su voto ha sido recibido!");
        }
    }

    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        //Include token in request to get Votes
        if (user.Identity.IsAuthenticated)
        {
            var responseHttp = await repository.Get<VisualiseBookDTO>($"api/books/{Id}");

            if (responseHttp.Error)
            {
                if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
                {
                    navigateManager.NavigateTo("");
                }
                else
                {
                    var ErrorMensaje = await responseHttp.GetBody();
                    await showMessages.ShowErrorMessage(ErrorMensaje);
                }
            }
            else
            {
                model = responseHttp.Response;
            }
        }
        else
        {
            //Exclude token for users who's not authenticated
            var responseHttp = await repository.Get<VisualiseBookDTO>($"api/books/{Id}", includeToken: false);

            if (responseHttp.Error)
            {
                if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
                {
                    navigateManager.NavigateTo("");
                }
                else
                {
                    var ErrorMensaje = await responseHttp.GetBody();
                    await showMessages.ShowErrorMessage(ErrorMensaje);
                }
            }
            else
            {
                model = responseHttp.Response;
            }
        }
    }

}
