@inject NavigationManager navigationManager
<div class="form-group">
    <MudLink Href="@urlBook" Underline="Underline.None">
        <MudCard Style="width:250px; height:410px; margin-left:15px;" >
            <MudCardMedia Image="@Books.Cover.ToString()" Style="width:230px; height:350px; margin-top:30px; margin-left:10px;"/>
            <MudCardContent>
                <MudText Typo="Typo.h5" Align="Align.Center">@Books.Name</MudText>
            </MudCardContent>
        </MudCard>
    </MudLink>
<div class="align-content-center" style="margin-top:10px; margin-left:80px;">
    <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.ModeEdit" ButtonType="ButtonType.Button" Href="@editUrlBook" Color="Color.Warning" Size="Size.Large"></MudIconButton>
    <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Delete" Color="Color.Error"
        @onclick="(() => DeleteBook.InvokeAsync(Books))" Size="Size.Large" Style="" ></MudIconButton>
</div>
</div>

@code {
    [Parameter] public Book Books { get; set; }
    [Parameter] public bool ShowButtons { get; set; } = false;
    [Parameter] public EventCallback<Book> DeleteBook { get; set; }
    private string urlBook = string.Empty;
    private string editUrlBook = string.Empty;

    protected override void OnInitialized()
    {
        urlBook = $"/books/{Books?.Id}/{Books?.Name?.Replace(" ","-")}";
        editUrlBook = $"books/edit/{Books?.Id}";
    }

    
}
