@page "/genders"
@inject IRepository repository
@inject IShowMessages showMessages

<h3>Indice de Generos</h3>

<MudFab Color="Color.Surface" StartIcon="@Icons.Material.Filled.Add" Href="genders/create" Label="Agregar Genero" />

<div>
    <GenericList Lists="Genders">
        <CompleteRecordsFound>
            <div class="col-md-7">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Genders)
                       {
                           <tr>
                               <td>
                                   <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.ModeEdit" ButtonType="ButtonType.Button" Href="@($"/genders/edit/{item.Id}")" Color="Color.Warning" Size="Size.Small"></MudIconButton>
                                   <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Delete" Color="Color.Secondary"
                                        @onclick="(() => DeleteGender(item))" Size="Size.Small" Style="" ></MudIconButton>
                               </td>
                               <td>@item.Name</td>
                           </tr>    
                       }
                   
                    </tbody>
                </table>
            </div>
        </CompleteRecordsFound>
    </GenericList>
</div>

@code {
    public List<Gender> Genders {get; set; }

    protected async override Task OnInitializedAsync()
    {
        await LoadGenders(); 
    }

    private async Task LoadGenders()
    {
        var reponseHttp = await repository.Get<List<Gender>>("api/genders");
        Genders = reponseHttp.Response; 
    }

    private async Task DeleteGender(Gender gender)
    {
        var responseHttp = await repository.Delete($"api/genders/{gender.Id}");
        if (responseHttp.Error)
        {
            await showMessages.ShowErrorMessage(await responseHttp.GetBody());
        }
        else
        {
            await LoadGenders();
            StateHasChanged();
        }
    }

}
